[user]
	name = Justin Levine
	email = justin_levine@ultimatesoftware.com
[core]
	autocrlf = input
	whitespace = cr-at-eol
[alias]
	dc = diff --cached
	createb = checkout -b
	pushb = push -u origin
	resetall = reset HEAD .
	co = checkout
	cm = commit -m
	a = add
	sl = stash list
	ss = stash save
	s = status
	p = pull --rebase
	pp = push
	aa = add .
[push]
	default = simple
[remote "origin"]
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[pull]
	rebase = true
[rerere]
	enabled = true
